# This is my title
This is regular text


```
# This is formatted as code
```

In [1]:
#integers
x=1
type(x)

int

In [2]:
#float
y=10.9
type(y)

float

In [7]:
#string
s1='helloo'
s2="hiii"
type(s1)
type(s2)
print(s1)
s2

helloo

'hiii'

In [9]:
#complex
a=1.0-2.0j
type(a)

complex

In [10]:
print(a)

(1-2j)

In [11]:
print(a.real,a.imag)

1.0 -2.0

In [15]:
#boolean
b1=True
b2=False
b3=true
type(b1)

NameError: name 'true' is not defined

In [17]:
#variables
tenth=10
ten='ten'
tenth

10

In [19]:
#dynamic typing
ten=10
ten

10

In [20]:
ten='ten'
ten

'ten'

In [22]:
'day'+' 1'

'day 1'

In [23]:
'day'+str(1)

'day1'

In [24]:
#bool exp
True and True

True

In [26]:
True or False

True

In [25]:
not True

False

In [27]:
not False

True

In [28]:
True is True

True

In [29]:
False is False

True

In [30]:
i=3
if i<3:
    print('less than 3')
elif i<5:
    print('less than 5')   
else:
    print('5 or more')

less than 5

In [32]:
l=[]
l

[]

In [33]:
l1=list()
l1

[]

In [36]:
l=[1,'a',True]
l

[1, 'a', True]

In [37]:
l2=list(l)
l2

[1, 'a', True]

In [40]:
l=[]
l.append('a')
l.append(2)
l.insert(1,'b')
l

['a', 'b', 2]

In [47]:
for i in l:
  print(i)

a
b
2

In [52]:
num=[4,6,2,4,1,7,9,8]
sum=0
for i in num:
    sum=sum+i
print("the sum is:",sum)
sum

the sum is: 41

41

In [53]:
num=[4,6,2,4,1,7,9,8]
sum=0
for i in num:
    sum=sum+i
    print("the sum is:",sum)

the sum is: 4
the sum is: 10
the sum is: 12
the sum is: 16
the sum is: 17
the sum is: 24
the sum is: 33
the sum is: 41

In [55]:
dig=[0,1,2]
for i in dig:
    print(i)
else: 
    print("no item left.")

0
1
2
no item left.

In [61]:
n=int(input("enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is:",sum)

enter n:4
the sum is: 10

In [62]:
print(range(10))

range(0, 10)

In [63]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [66]:
print(list(range(2,20,4)))

[2, 6, 10, 14, 18]

In [67]:
gen=['app','man','org','sta']
for i in range(len(gen)):
    print(gen[i])

app
man
org
sta

In [73]:
for val in "SRIDEVI":
    if val=="D":
        break
    print(val)

S
R
I

In [74]:
for val in "SRIDEVI":
    if val=="D":
        continue
    print(val)

S
R
I
E
V
I

In [76]:
name=(input("what is your name"))
type(name)

what is your namesri

str

In [78]:
age=int(input('what is your age'))
type(age)

what is your age20

int

In [83]:
name=input('what is your name?')
age=input("what is your age?")
print("hey "+ name +" you are "+ age +"years old")

what is your name?sri
what is your age?20
hey sri you are 20years old