In [35]:
# Single word
string1='hello'
type(string1)

str

In [36]:
# Entire phrase 
string2='hi very good morning,have a good day'
type(string2)

str

In [37]:
# We can also use double quote
string1="helloo"
type(string1)

str

In [38]:
# Be careful with quotes!
string3="today's forecast"
string3

"today's forecast"

In [39]:
# We can simply declare a string
'hello world'

'hello world'

In [40]:
# note that we can't output multiple strings this way
'hello world1'
'hello world2'

'hello world2'

In [41]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2134528244.py, line 1)

In [ ]:
# To use print function from Python 3 in Python 2
from __future__ import print_function
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (834811734.py, line 3)

In [ ]:
len('hello world')

11

In [ ]:
# Assign s as a string
s='hello world'

In [52]:
#Check
s

'hello world'

In [51]:
# Print the object
print(s)

hello world

In [45]:
# Show first element (in this case a letter)
s[0]

'h'

In [55]:
s[1]

'e'

In [56]:
s[8]

'r'

In [57]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello world'

In [58]:
# Note that there is no change to the original s
s

'hello world'

In [59]:
# Grab everything UP TO the 3rd index
s[:3]

'hel'

In [66]:
s[1:-1]

'ello worl'

In [60]:
#Everything
s[:]

'hello world'

We can also use negative indexing to go backwards.

In [61]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [62]:
# Grab everything but the last letter
s[:-1]

'hello worl'

In [68]:
# Grab everything, but go in steps size of 1
s[::1]
s[::]

'hello world'

In [69]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlowrd'

In [71]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleh'

In [72]:
s

'hello world'

In [76]:
# Let's try to change the first letter to 'x'
s[0]='r'

TypeError: 'str' object does not support item assignment

In [77]:
s

'hello world'

In [120]:
s='hello world'
s

'hello world'

In [121]:
s + ' ohh'

'hello world ohh'

In [122]:
# We can reassign s completely though!
s = s + ' hii'

In [123]:
print(s)

hello world hii

In [124]:
s

'hello world hii'

In [126]:
letter='z'

In [127]:
letter*10

'zzzzzzzzzz'

In [128]:
s

'hello world hii'

In [129]:
# Upper Case a string
s.upper()

'HELLO WORLD HII'

In [130]:
# Lower case
s.lower()

'hello world hii'

In [131]:
# Split a string by blank space (this is the default)
s.split()

['hello', 'world', 'hii']

In [133]:
# Split by a specific element (doesn't include the element that was split on)
s.split('h')

['', 'ello world ', 'ii']

In [135]:
'name:{}'.format({'sridevi'})

"name:{'sridevi'}"

In [139]:
s.find('o')

4

In [142]:
s.center(60,'z')

'zzzzzzzzzzzzzzzzzzzzzzhello world hiizzzzzzzzzzzzzzzzzzzzzzz'

In [143]:
'hello\thi'.expandtabs

In [147]:
s='helooo1234'

In [148]:
s.isalpha()

False

In [150]:
s.isalnum()

True

islower() will return "True" if all cased characters in S are lowercase and there is
at least one cased character in S, False otherwise.

In [151]:
s.islower()

True

In [152]:
s.isspace()

False

In [154]:
s.isupper()

False

In [158]:
s.endswith('o')

True

In [159]:
s.split('e')

['H', 'loo']

In [161]:
s='Hello world'
s.partition('e')

('H', 'e', 'llo world')

In [162]:
s

'Hello world'

In [165]:
# Assign a list to an variable named my_list
l1=[1,'a',True]
l1

[1, 'a', True]

In [166]:
len(l1)

3

In [167]:
l2=['one','two','three',4,5]
l2

['one', 'two', 'three', 4, 5]

In [168]:
# Grab element at index 0
l2[0]

'one'

In [169]:
# Grab index 1 and everything past it
l2[1:]

['two', 'three', 4, 5]

In [170]:
# Grab everything UP TO index 3
l2[:3]

['one', 'two', 'three']

In [171]:
l2 + ['newitem']

['one', 'two', 'three', 4, 5, 'newitem']

In [172]:
l2

['one', 'two', 'three', 4, 5]

In [173]:
# Reassign
l2=l2 + ['newitem']

In [174]:
l2

['one', 'two', 'three', 4, 5, 'newitem']

In [175]:
# Make the list double
l2*2

['one',
 'two',
 'three',
 4,
 5,
 'newitem',
 'one',
 'two',
 'three',
 4,
 5,
 'newitem']

In [176]:
# Again doubling not permanent
l2

['one', 'two', 'three', 4, 5, 'newitem']

In [179]:
# Create a new list
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

Use the **append** method to permanently add an item to the end of a list:

In [180]:
# Append
l.append(6)

In [181]:
# Show
l

[1, 2, 3, 4, 5, 6]

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [184]:
l.pop(0)

3

In [185]:
# Show
l

[4, 5, 6]

In [186]:
# Assign the popped element, remember default popped index is -1
pl=l.pop()

In [187]:
pl

6

In [188]:
# Show remaining list
l

[4, 5]

In [189]:
l[10]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [201]:
#Show
l1=['a','e','c','b','d']
l1

['a', 'e', 'c', 'b', 'd']

In [202]:
# Use reverse to reverse order (this is permanent!)
l1.reverse()

In [203]:
l1

['d', 'b', 'c', 'e', 'a']

In [204]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
l1.sort()

In [205]:
l1

['a', 'b', 'c', 'd', 'e']

In [207]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]
matrix=[lst1,lst2,lst3]

In [208]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [209]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [210]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [223]:
# Build a list comprehension by deconstructing a for loop within a []
fl_1=[row[2] for row in matrix]
fl_1

[3, 6, 9]

In [287]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [259]:
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [288]:
l.extend([7,8])
print(l)

[1, 2, 3, 4, 5, 7, 8]

In [289]:
print(l)
l.index(5)

[1, 2, 3, 4, 5, 7, 8]

4

In [290]:
l

[1, 2, 3, 4, 5, 7, 8]

**extend: extends list by appending elements from the iterable**

In [291]:
l.insert(8,'inserted')
l

[1, 2, 3, 4, 5, 7, 8, 'inserted']

In [292]:
pli=l.pop()

In [293]:
print(pli)
l

inserted

[1, 2, 3, 4, 5, 7, 8]

In [294]:
l

[1, 2, 3, 4, 5, 7, 8]

In [295]:
# Place a letter at the index 2
l.remove(8)

In [296]:
l

[1, 2, 3, 4, 5, 7]

In [297]:
l.remove(1)

In [298]:
l

[2, 3, 4, 5, 7]

In [301]:
l.reverse()

In [302]:
l

[7, 5, 4, 3, 2]

## sort
sort will sort your list in place:

In [303]:
l.sort()

In [304]:
l

[2, 3, 4, 5, 7]