In [11]:
t=(1,2,3)

In [12]:
t

(1, 2, 3)

In [13]:
len(t)

3

In [14]:
ti=('one',2)
ti

('one', 2)

In [15]:
t[0]

1

In [16]:
t[-1]

3

In [17]:
ti.index('one')

0

In [18]:
t.index(2)

1

In [19]:
ti.count('one')

1

In [20]:
ti[0]='two'

TypeError: 'tuple' object does not support item assignment

In [21]:
x=set()

In [22]:
x.add(1)

In [23]:
x

{1}

In [24]:
x.add(2)
x

{1, 2}

In [25]:
x.add(1)
x

{1, 2}

In [26]:
l=[1,2,3,4,5,6,7]

In [27]:
 set(l)

{1, 2, 3, 4, 5, 6, 7}

In [29]:
dict1={'key1':'value1','key2':'value2'}

In [30]:
dict1

{'key1': 'value1', 'key2': 'value2'}

In [48]:
dict1['key1']

'value1'

In [49]:
dict={'key1':123,'key2':[1,2,3,4],'key3':['i1','i2','i3']}
dict

{'key1': 123, 'key2': [1, 2, 3, 4], 'key3': ['i1', 'i2', 'i3']}

In [50]:
dict['key3']

['i1', 'i2', 'i3']

In [51]:
dict['key2'][3]

4

In [52]:
dict['key3'][2].upper()

'I3'

In [53]:
dict['key1']-123

0

In [55]:
 dict['key1']-=123
dict['key1']

-123

In [56]:
d={}

In [57]:
d['dog']='ramu'

In [58]:
d['age']=2

In [59]:
d

{'dog': 'ramu', 'age': 2}

In [60]:
d1={'key1':{'nestkey':{'subnestkey':'value'}}}

In [61]:
d1

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [64]:
d1['key1']['nestkey']['subnestkey']

'value'

In [68]:
d
d.keys()

dict_keys(['dog', 'age'])

In [69]:
d.values()

dict_values(['ramu', 2])

In [70]:
d.items()

dict_items([('dog', 'ramu'), ('age', 2)])

In [71]:

{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [73]:
def say_hello():
    print('hello')

In [74]:
say_hello()

hello

In [82]:
def greeting(name):
    print('hello %s' %name)

In [83]:
greeting('sri')

hello sri

In [85]:
def add_num(num1,num2):
    return num1+num2

In [86]:
add_num(4,5)

9

In [89]:
result=add_num(4,4)

In [91]:
print(result)

8

In [94]:
print(add_num('one\t','two'))

one	two

In [107]:
def is_prime(num):
    for n in range(2,num):
        if num%n==0:
            print('not prime')
            break
        else:
            print('prime')

In [110]:
is_prime(3)

prime

In [109]:
is_prime(6)

not prime

In [118]:
import math
def is_prime(num):
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False 
    return True

In [119]:
is_prime(25)

False

In [120]:
is_prime(23)

True

In [126]:
 print(list[range(3,5+1,2)])

list[range(3, 6, 2)]

In [127]:
x=int(math.sqrt(23))
x

4

In [140]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [142]:
for x in gencubes(20):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859

In [152]:
def genfibon(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [153]:
for num in genfibon(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

In [162]:
def fibon(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

In [163]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [166]:
def simple_gen():
    for x in range(3):
        yield x

In [167]:
g=simple_gen()

In [168]:
print(next(g))

0

In [169]:
print(next(g))

1

In [170]:
print(next(g))

2

In [171]:
s='hello'
for i in s:
    print(i)

h
e
l
l
o

In [172]:
next(s)

TypeError: 'str' object is not an iterator

In [173]:
s_iter=iter(s)

In [174]:
next(s_iter)

'h'

In [175]:
next(s_iter)

'e'

In [176]:
next(s_iter)

'l'

In [177]:
next(s_iter)

'l'

In [178]:
next(s_iter)

'o'

In [214]:
#map
def fahrenheit(T):
    return ((float(9/5)*T+32))
def celsius(T):
    return (float(5/9)*(T-32))
temp = [0,22.5,40,100]

In [215]:
F_temps=list(map(fahrenheit,temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [216]:
list(map(celsius,F_temps))

[0.0, 22.5, 40.0, 100.0]

In [217]:
#lambda
list(map(lambda x: (5.0/9)*(x-32),F_temps))

[0.0, 22.5, 40.0, 100.0]

In [218]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [220]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

In [222]:
#reduce
from functools import reduce
lst=[47,11,42,13]
reduce(lambda x,y:x+y,lst)

113

In [223]:
47+11+42+13

113

In [227]:
from IPython.display import Image

In [230]:
max_find=lambda a,b: a if (a>b) else b
max_find(2,3)

3

In [231]:
reduce(lambda a,b:a if (a>b) else b,lst)

47

In [233]:
def even_check(num):
    if num%2==0:
        return True

In [234]:
lst=range(20)
print(list(lst))
list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [235]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]