In [36]:
class Person:
   pass
s=Person()
s.fname='sri'
s.lname='devi'
s.age=22
print(s)
print(" hii %s%s your age is  %d."%(s.fname,s.lname,s.age))

<__main__.Person object at 0x0000019AC4EF7B50>
 hii sridevi your age is  22.

In [37]:
class Dog:
    def __init__(self,name,color,age):
        self.name=name
        self.color=color
        self.age=age

In [38]:
d=Dog('ramu','black',2)
print('hi my name is',d.name,'and iam',d.color,'in color my age is',d.age)

hi my name is ramu and iam black in color my age is 2

In [58]:
class Person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob
    def age(self,cur_yr):
        return cur_yr-self.dob
    def __str__(self):
        return '%s %s was born in %d.'%(self.name,self.surname,self.dob)
h=Person("priya","singh",2002)
h2=Person("pooja","singh",2000)
print(h)
print(h.age(2023))
print(h2)
print(h2.age(2023))

priya singh was born in 2002.
21
pooja singh was born in 2000.
23

In [59]:
class Student(Person):
    def __init__(self,stud_id,*args,**kwargs):
        super(Student,self).__init__(*args,**kwargs)
        self.stud_id=stud_id
charlie=Student(1,'charlie','777',2018)
print(charlie)
print(type(charlie))
print(isinstance(charlie,Person))
print(isinstance(charlie,object))

charlie 777 was born in 2018.
<class '__main__.Student'>
True
True

In [60]:
class Student(Person):
    def __init__(self,stud_id,*args,**kwargs):
        super(Student,self).__init__(*args,**kwargs)
        self.stud_id=stud_id
    def __str__(self):
        return super(Student,self).__str__()+"and has id: %d"% self.stud_id
    
charlie=Student(1,'charlie','777',2018)
print(charlie)

charlie 777 was born in 2018.and has id: 1

In [62]:
def summer(a,b):
    return a+b
print(summer(1,1))
print(summer(['a','b','c'],['d','e']))
print(summer('abra','cadabra'))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [72]:
%%writefile test.txt
Hello,this is me 
yahoooo

Overwriting test.txt

In [74]:
%%writefile superman.txt
hii everyone
this is jupiter

Writing superman.txt

In [113]:
f=open('test.txt')

In [112]:
f.read()

'Hello,this is me \nyahoooo\n'

In [109]:
f.read()

''

In [111]:
f.seek(0)

0

In [114]:
f.readlines()

['Hello,this is me \n', 'yahoooo\n']

In [115]:
f1=open('superman.txt','w+')

In [116]:
f1.write('this is new line')

16

In [117]:
f1.read()

''

In [118]:
%%writefile exam.txt
first line
second line

Writing exam.txt

In [121]:
for line in open('exam.txt'):
    print(line)

first line

second line

In [122]:
from io import StringIO

In [123]:
msg='this is a string'

In [132]:
f=StringIO(msg)

In [133]:
f.read()

'this is a string'

In [134]:

f.write(" this is another string")

23

In [135]:
  f.seek(0)

0

In [136]:
f.read()

'this is a string this is another string'