In [1]:
import math

In [2]:
math.ceil(2)

2

In [3]:
math.ceil(2.4)

3

In [4]:
math.floor(2.4)

2

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [6]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [7]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [8]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [9]:
__init__.py:
__all__ = ["bar"]

SyntaxError: invalid syntax (2955148442.py, line 1)

In [10]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [11]:

try:
    f=open('testfile','w')
    f.write('test write txt')
except IOError:
  print("error: could not find the file")
else:
  print("content written sucessfully")

content written sucessfully

In [12]:
try:
    f=open('testfile','r')
    f.write('test write txt')
except IOError:
  print("error: could not find the file or read data")
else:
  print("content written sucessfully")

error: could not find the file or read data

In [13]:
try:
    f=open('testfile','w')
    f.write('test write txt')
except IOError:
  print("error: could not find the file")
else:
  print("content written sucessfully")
f.close()

content written sucessfully

In [14]:
def askinte():
        try:
            val=int(input("please enter an integer: "))
        except:
            print("looks like u did not enter integer!")
        finally:
            print("finally,I executed!")
        print(val)

In [15]:
askinte()

please enter an integer: 2
finally,I executed!
2

In [16]:
def askint():
        try:
            val=int(input("please enter an integer: "))
        except:
            print("looks like u did not enter integer!")
            val=int(input(" try again,please enter an integer: "))
        finally:
            print("finally,I executed!")
        print(val)

In [17]:
askint()

please enter an integer: ww
looks like u did not enter integer!
 try again,please enter an integer: 233
finally,I executed!
233

In [32]:
import sqlite3
db=sqlite3.connect("my_database.db")
db.execute("Drop table if exists grades1")
db.execute("create table grades1( id int, name text, score int)")
db.execute("insert into grades1( id,name,score) values(1,'sri',100)")
db.execute("insert into grades1( id,name,score) values(2,'ramu',100)")
db.execute("insert into grades1( id,name,score) values(3,'vini',90)")
db.execute("insert into grades1( id,name,score) values(4,'dhanu',80)")
db.execute("insert into grades1( id,name,score) values(5,'hemu',70)")
db.execute("insert into grades1( id,name,score) values(6,'loki',60)")

In [33]:
db.commit

In [34]:
results=db.execute("select* from grades1 order by id")
for row in results:
    print(row)
print("_"*60)

(1, 'sri', 100)
(2, 'ramu', 100)
(3, 'vini', 90)
(4, 'dhanu', 80)
(5, 'hemu', 70)
(6, 'loki', 60)
____________________________________________________________

In [35]:
results=db.execute("select* from grades1 where score==100")
for row in results:
    print(row)
print("_"*60)

(1, 'sri', 100)
(2, 'ramu', 100)
____________________________________________________________

In [36]:
results=db.execute("select name from grades1 order by id")
for row in results:
    print(row)
print("_"*60)

('sri',)
('ramu',)
('vini',)
('dhanu',)
('hemu',)
('loki',)
____________________________________________________________

In [37]:
results=db.execute("select name ,score  from grades1 order by id")
for row in results:
    print(row)
print("_"*60)

('sri', 100)
('ramu', 100)
('vini', 90)
('dhanu', 80)
('hemu', 70)
('loki', 60)
____________________________________________________________

In [38]:
results=db.execute("select* from grades1 order by score desc")
for row in results:
    print(row)
print("_"*60)

(1, 'sri', 100)
(2, 'ramu', 100)
(3, 'vini', 90)
(4, 'dhanu', 80)
(5, 'hemu', 70)
(6, 'loki', 60)
____________________________________________________________

In [39]:
results=db.execute("select* from grades1 order by score")
for row in results:
    print(row)
print("_"*60)

(6, 'loki', 60)
(5, 'hemu', 70)
(4, 'dhanu', 80)
(3, 'vini', 90)
(1, 'sri', 100)
(2, 'ramu', 100)
____________________________________________________________